.user-list {
  color: white;
  border: 1px solid rgb(47, 47, 47);
  background-color: rgb(47, 47, 47);
  padding: 0.5em 1em;
  width: 170px;
  height: 100%;
}

h1{
  padding: 0;
  margin: 0;
  border-bottom: 1px solid;
}

ul {
  padding: 0;
  margin: 0.5em 0;
  list-style: none;
}

li{
  margin: 0.3em 0;
}

button{
  width: 100%;
  text-align: left;
}