/* Add application styles & imports to this file! */
body{
  background-color: rgb(27, 25, 25);
  padding: 0;
  box-sizing: border-box;
  color: white;
}

.content{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

aside{
  height: 100vh;
}