.post-list {
  border: 1px solid rgb(47, 47, 47);
  background-color: rgb(47, 47, 47);
  padding: 0.5em 1em;
  height: 100%;
  width: 400px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  border-bottom: 1px solid;
  padding-bottom: 0.5em;
}

.body {
  margin: 0.5em 0 0.5em 1em;
}
